.flex{
    display: flex;
    color: mistyrose;
    align-items: center;
}
.center{
    justify-content: center;
}
.w500 {
    width: 500px;
}
.bg{
    background: cornflowerblue;
}
.p100{
    height: 100px;
}
.p300 {
    height: 300px;
}
.w164{
    width: 164px;
    height: 160px;
    background: dodgerblue;

}
.big_bigger_huge{
    justify-content: space-between ;
    padding-top: 5px;
    padding-bottom: 5px;
}
