#header, #footer{
    width: 500px;
    height: 50px;
    background: yellow;
    text-align: center;
    box-sizing: border-box;
    padding-top: 17px;
    margin: 5px;
}

#menu{
    width: 150px;
    height: 200px;
    background: pink;
    text-align: center;
    box-sizing: border-box;
    margin: 5px;
    padding-top: 90px;
}
#container{
    display: flex;
}

.post{
    width: 339px;
    height: 97px;
    background: cornflowerblue;
    margin: 5px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 40px;
}