#widgets, #contact{
    width: 500px;
    background: cornflowerblue;
    text-align: center;
    box-sizing: border-box;
}

#widgets{
    height: 100px;
    padding-top: 40px;
}

#contact{
    height: 300px;
    padding-top: 140px;
}

#big, #bigger, #huge{
    width: 164px;
    height: 160px;
    background: dodgerblue;
    text-align: center;
    box-sizing: border-box;
    padding-top: 75px;

}
#big_bigger_huge{
    width: 500px;
    display: flex;
    justify-content: space-between ;
    padding-top: 5px;
    padding-bottom: 5px;

}
