body{
    background: deepskyblue;
    color: grey;
}
h3{
    color: orange;
}
.menu{
    background: white;
    width: 500px;
    padding: 5px;
    box-sizing: border-box;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;

}

#container{
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 150px;

}

.img > i{
    font-size: 70px;
    color: grey;
    margin: 15px;
    padding-top: 30px;
}