.katya{
    width: 510;
    height: 510;
    margin-left: 400px;
}

.grey {
    background: grey;
    width: 500px;
    height: 250px;
    box-shadow: burlywood -30px -30px 60px 30px;
    box-sizing: border-box;
    margin-left: 0;
    margin-top: 50px;
}




.a{
    border-left: red solid 5px;
    padding-left: 20px;
    font-family: Arial;




}